//global styles 
@import "./variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*, *::before, *::after{
    padding: 0;
    margin: 0;
}
.body{
    display: block;
    height: 100vh;
    background-color: $dayBackground;
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: center;
}
h1{
    font-family: 'Press Start 2P';
    padding-top: 2.5rem;
    font-size: 1.2rem;
    color: $nightBackground;
    text-align: center;
}
button{
    z-index: 1;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%);
    color: $dayBackground;
    background-color: $nightBackground;
    padding: 0.875rem 2.175rem;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    font-weight: 400;
    transition: opacity 300ms ease-in-out;
        &:hover{
            opacity: 0.75;
        }

}
//night mode styles 
.night{
    color: $nightBackground;
    background-color: $dayBackground;
}
.night-header{
    color: $dayBackground;
}
.night-body{
    background-color: $nightBackground;
}

img{
    max-height: 35vh;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

@media screen and (min-width: 28.125rem) {
    img{
        max-height: 50%;
    }
    h1{
        font-size: 2rem;
    }
}
@media screen and (min-width: 59.375rem) {
    img{
        max-height: 60%;
    }
    h1{
        font-size: 3rem;
    }
}